<div class="container">
    <div>
        <h2>Modifier un Article :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Article</label>
            <input readonly type="text" [(ngModel)]="currentProduit.idArticle" name="idArticle" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Article</label>
            <input type="text" [(ngModel)]="currentProduit.nomArticle" name="nomArticle" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Reference Article</label>
            <input type="text" [(ngModel)]="currentProduit.referenceArticle" name="referenceArticle"
                class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Description Article</label>
            <input type="text" [(ngModel)]="currentProduit.descriptionArticle" name="descriptionArticle"
                class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifer</button>
        </div>
    </form>